@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light " style="background-color: #ffffff;">
        <a href="#" class="navbar-brand">
            <img src="https://godriverental.com/wp-content/uploads/2022/10/Go-Drive-Logo-invertido.png" alt="Logo" class="logo" style="max-width: 125px; height: auto;">
            <span id="loggedInUser" class="navbar-text"></span>
            <style>
                .navbar-brand {
                    color: #ffffff;
                    font-size: 24px;
                    font-style: italic
                }
            </style>

        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <div class="navbar-nav ml-auto">

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="index.cshtml" class="nav-item nav-link">Home</a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="Book.cshtml" class="nav-item nav-link">Bookings</a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>



                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="Locations.cshtml" class="nav-item nav-link">Locations</a></b>

                </li>
                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="Analytics.cshtml" class="nav-item nav-link">Analytics</a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">
                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="SignUp.cshtml" class="nav-item nav-link">Sign Up</a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">
                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="AboutUs.cshtml" class="nav-item nav-link">About us</a></b>

                </li>

                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="#" class="nav-item nav-link"></a></b>

                </li>
                <li class="nav-item dropdown" style="padding-top: 10px;">

                    <a href="#" class="nav-item nav-link"></a>

                    <b><a href="Feedback.cshtml" class="nav-item nav-link">Feedback</a></b>

                </li>

            </div>
        </div>

    </nav>
    <iframe src="https://www.google.com/maps/d/embed?mid=1Csz0kR40RXQEFZRgsMfY35ouG0X5L0g&ehbc=2E312F&noprof=1" width="1280" height="520"></iframe>
</body>
</html>
